body {
  background: lightblue;
}

a.active {
  color: red;
}

.album-slider {
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  height: 250px;
}

.album-description {
  display: inline-block;
  max-width: 100px;
  vertical-align: top;
  margin: 0px 5px;
  white-space: normal;
}

.album-description h4 {
  font-size: 14px;
}

/*
.album-text {
  display: inline-block;
  vertical-align: top;
}
*/
