// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-okaidia.css'
// Check out "bower_components/prism/themes/" for available themes

$little-serif = didot, times new roman, serif

h1
  margin:.2em 0

.centered
  text-align: center

#yeoman-logo img
  width: 50%

h1 span
  font-family: $little-serif
  font-size: .5em

p
  margin: 0
  font-size: 1.5em

#need .inline
  display: inline-block
  margin-right:10px;

#need .inline img
  width: 100%
  
section .image
  max-width: 100%
  img
    width:100%

ol li
//  font-size: 2em
  list-style: inherit
  text-align: inherit
  
li.emphasize
  font-size: 1.5em
  
li.normal
  line-height: 1.5em
  
pre.small-code
  font-size: 0.6em