doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Making Generators with Yeoman

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 Making Generators 
          span with
        #yeoman-logo.centered
          img(src="images/yeoman-logo.png")

      section
        h1 Why a generator?
        //-p It is more than a complicated boilerplate generator

      section
        h1 What's Yeoman?
        p It is more than a complicated boilerplate generator

      section
        h1.bullet What Yeoman can do for you?
        p.bullet Boilerplates
        p.bullet Modify Code
        p.bullet Anything you could do to a file system using node

      section
        h1.bullet But, how?
        p.bullet Asking the user's preferences
        p.bullet Generating files
        p.bullet Taking care of repetitive code
        p.bullet Adding pieces of code in existing files

      section
        pre
          code.language-javascript.
            $ npm install -g generator-generator
            $ yo generator

      section
        .image
          img(src="images/yeoman-generator-run.png")

      section
        h2 Generated Tree
        .image
          img(src="images/generator-tree.png")

      section
        h1 In order to execute the generator 
        pre
          code.language-javascript.
            $ yo yeoman-test-generator

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        p.note A generator is a npm module and needs to be installed using <span class="code">$ npm install -g your-generator</span>
        p.note If your generator is not published at npm you can link it using <span class="code">$ npm link</span> command 

      section
        h1 Adding subgenerators
        pre
          code.language-javascript.
            $ yo generator:subgenerator name

      section
        h2 Name Subgenerator folder
        .image
          img(src="images/subgenerator-tree.png")

      section
        h1 In order to execute the subgenerator 
        pre
          code.language-javascript.
            $ yo yeoman-test-generator:name

      section
        h1 Questions?
        
      section
        h1 Thanks!!
        #yeoman-logo.centered
          img(src="images/main-yeoman-logo.png")
          
      script(src='build/build.js')
