doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Making Generators with Yeoman

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 Making Generators 
          span with
        #yeoman-logo.centered
          img(src="images/main-yeoman-logo.png")

      section
        h1 What's Yeoman?
        p It is more than a complicated boilerplate generator

      section
        h1.bullet What Yeoman can do for you?
        p.bullet Boilerplates
        p.bullet Modify Code
        p.bullet Anything you could do to a file system using node

      section#need
        h1.bullet What you will need
        .centered
          .bullet.inline(style="width:36%")
            img(src="images/nodejs-logo.png")
          .bullet.inline(style="width:16%")
            img(src="images/npm-logo.png")
          .bullet.inline(style="width:17%")
            img(src="images/yeoman-logo.png")

      section#run-generator
        h1 Let's start with this
        pre
          code.language-javascript.
            $ npm install -g generator-generator
            $ yo generator
            
      section#run-generator
        .image
          img(src="images/yeoman-generator-run.png")
          
      section#run-generator
        .image
          img(src="images/generator-tree.png")
          
      section#run-generator
        .image
          img(src="images/generator-tree-app.png")

      script(src='build/build.js')
          
//-      section
//-        h2 Responsive Slides
//-        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-scale">bespoke-scale</a>
//-
//-      section
//-        h2 Bullet List
//-        h3.bullet Powered by <a href="https://github.com/markdalgleish/bespoke-bullets">bespoke-bullets</a>
//-        ul
//-          li Bullet 1
//-          li Bullet 2
//-          li Bullet 3

//-      section
//-        h2 Syntax Highlighting
//-        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
//-        pre
//-          code.language-javascript.
//-            bespoke.from('article', [
//-              classes(),
//-              keys(),
//-              touch(),
//-              bullets('li, .bullet')
//-            ]);

//-      section(data-bespoke-hash='named-route')
//-        h2 Named Route
//-        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
//-        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

//-      section.emphatic-text(data-bespoke-backdrop='emphatic')
//-        h2 Emphatic Slide!
//-        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

//-      section
//-        h2.bullet Just the beginning...
//-        br
//-        ul
//-          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
//-          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
//-          li Edit JavaScript in <em>'src/scripts/main.js'</em>
//-        br
//-        ul
//-          li
//-            strong Enjoy! :)
//-            a(href='http://twitter.com/markdalgleish')  -@markdalgleish
